section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

main {
  width: 92%;
  height: 90%;
}

.header {
  font-size: 18px;
}

.box-height {
  height: 40rem;
}

.fa-circle {
  font-size: 12px;
  margin-top: -2px;
}

.task {
  font-size: 12px;
}

.taskAdder {
  width: 370px;
  height: 376px;
  position: absolute;
  padding: 40px;
}

input,
.submit {
  width: 290px;
}

::placeholder {
  font-size: 1rem;
}

.display {
  display: none;
}
/* d-none */

.transparented {
  opacity: 0.3;
}
/* opacity-25 */
