* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100vw;
  height: 100vh;
}

main {
  width: 92%;
  height: 90%;
}

.header {
  font-size: 18px;
}

.box {
  height: 27rem;
}

.fa-circle {
  font-size: 12px;
  margin-top: -2px;
}

.task {
  font-size: 12px;
}
